package templates

import (
	"fmt"
	)

templ AboutBody(num int) {
	<div id="about-div">
	<h1>About</h1>
	<div>num is {fmt.Sprintf("%d", num) } </div>
	</div>
}

templ AboutHead() {
	<style>
	#about-div {
		font-size: 20px;
		color: blue;
	} 
</style>
}
