package templates

import (
	"fmt"
	"github.com/jmarren/katana/data"
)

templ AboutBody(d *data.AboutBodyData) {
	<div id="page">
		<h1>About</h1>
		<div>num is { fmt.Sprintf("%d", d.Num) } </div>
	</div>
}

templ AboutHead(d *data.AboutHeadData) {
	<style>
	#page {
		font-size: 20px;
		color: blue;
	} 
</style>
}
