package templates

import "github.com/jmarren/katana/data"

templ ProfileBody(d *data.ProfileBodyData) {
	<div id="profile">
		@(*(d.Child))
		{ d.Username }
	</div>
}

templ ProfileHead(d *data.ProfileHeadData) {
	@(*(d.Child))
	<style id="profile-styles">
		#profile {
			color: red;
			background-color: yellow;
			font-size: 30px;
		}
	</style>
}
