package templates

import "github.com/jmarren/katana/data"

templ ProfileBody(d *data.ProfileBodyData) {
	<div id="page">
		@(*(d.Circle))
		@(*(d.Square))
		{ d.Username }
	</div>
}

templ ProfileHead(d *data.ProfileHeadData) {
	@(*(d.Circle))
	@(*(d.Square))
	<style id="profile-styles">
		#page {
			color: red;
			background-color: yellow;
			font-size: 30px;
		}
	</style>
}
